main h1{
    text-align: center;
    font-weight: 900;
}
aside h2{
    text-align: center;
    font-weight: 900;
    margin-top: 15px;
}
body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}
.img-fluid{
    width: 100%;
}
i{
    font-size: 5rem;
}
.divContainerIcon{
    display: flex;
    text-align: center;
    align-items: center;
}
.divContainerIcon p{
    font-weight: 500;
}
.accordion{
    min-height: 100vh;
}
@media (min-width: 0px){
    .navbar{
        background-color:rgba(13, 224, 76, 0.884);
    }
    .slide img{
        height: 25vh;
    }
    .card{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        background-color:rgba(13, 224, 76, 0.884);
    } 
    footer{
        margin-top: auto;
        padding: 10px;
        background-color:rgba(13, 224, 76, 0.884);
        text-align: center;
        font-weight: 500;
        
    }  
}
@media (min-width: 576px){
    .navbar{
        background-color:rgba(13, 224, 118, 0.884);
    }    
    .slide img{
        height: 40vh;
    }
    .card{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        background-color:rgba(13, 224, 118, 0.884);
    }  
    footer{
        margin-top: auto;
        padding: 10px;
        background-color:rgba(13, 224, 118, 0.884);
        text-align: center;
        font-weight: 500;
    }
}
@media (min-width: 768px){
    .navbar{
        background-color:rgba(13, 224, 154, 0.884);
    }
    .slide img{
        height: 50vh;
    }
    .card{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        background-color:rgba(13, 224, 154, 0.884);
    }
    footer{
        margin-top: auto;
        padding: 10px;
        background-color:rgba(13, 224, 154, 0.884);
        text-align: center;
        font-weight: 500;
        
    }  
}
@media (min-width: 992px){
    .navbar{
        background-color:rgba(13, 224, 196, 0.884);
    }
    .slide img{
        height: 65vh;
    }
    .card{
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        background-color:rgba(13, 224, 196, 0.884);
    }
    footer{
        margin-top: auto;
        padding: 10px;
        background-color:rgba(13, 224, 196, 0.884);
        text-align: center;
        font-weight: 500;   
    }  
}